.row {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}
.row2 {
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 50px;
}
h1 {
	font-family: "Helvetica";
	font-size: 50px;
	color: #0b0f3a;
	font-weight: 700;
}

.hidden {
	display: none;}

.show {
	margin-left: 50px;
	margin-right: 50px;
	text-align:center;
}

  body {
 	margin: 0;
 	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fdf1e6;
}

p {
	font-size: 17px;
	font-family: "Palatino";
}

h5 {
	font-size: 18px;
	font-family: "Helvetica";
}

.end {
	margin-top: 100px;
    margin-left: 60px;
    margin-right: 50px;
    font-size: 10px;
}

blockquote {
	font-size: 25px;
	color: #0b0f3a;
	font-weight: 700;
	font-family: "Helvetica";
}
.lead {
	font-family: "Helvetica";
	font-size: 20px;
	color: #990000;
}

.bg-primary {
  background-color: #0b0f3a !important;
}

.headimage {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.centtext {
	text-align:center
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
